[submodule "estimators/hwcomponents-neurosim"]
	path = estimators/hwcomponents-neurosim
	url = https://github.com/Accelergy-Project/hwcomponents-neurosim.git
[submodule "estimators/hwcomponents-library"]
	path = estimators/hwcomponents-library
	url = https://github.com/Accelergy-Project/hwcomponents-library.git
[submodule "estimators/hwcomponents-cacti"]
	path = estimators/hwcomponents-cacti
	url = https://github.com/Accelergy-Project/hwcomponents-cacti.git
[submodule "estimators/hwcomponents-adc"]
	path = estimators/hwcomponents-adc
	url = https://github.com/Accelergy-Project/hwcomponents-adc.git
